@charset "utf-8";
body{
    margin: 0;
}
header{
    background-color: blue;
    margin: 0;
}
.head{
    color: white;
    margin: 0;
    padding: 30px 10px;
}
header p{
    color: white;
    margin: 0;
    font-size: 20px;
    padding: 0 10px 10px;
}

/* 회사소개 */
.introduce {
    padding: 0 20px;
} 
.introduce p{
    padding-bottom: 50px;
}

/* 랭킹 */
.ranking {
    padding-left: 10px;
}
.ranking ol{
    font-weight: bold;
}
li{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width:720px) {
    .aside{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 139px);
        grid-template-areas:  
        "hd hd hd ra"
        "in in in ra"
        ".   .  . ra"
    }
    header{
        grid-area: hd;
    }
    .introduce{
        grid-area: in;
    }
    .ranking{
        grid-area: ra;
    }
}